<mat-card>
  <h2>Last Notifications</h2>
  <button mat-button color="primary" (click)="toggleForm()">
    <mat-icon>add</mat-icon> notif
  </button>
  <button mat-button color="warn" (click)="clearNotifications()">
    <mat-icon>delete</mat-icon> clear
  </button>
  <mat-list>
    <mat-list-item *ngFor="let notif of notifications | async"> {{ notif }} </mat-list-item>
  </mat-list>
</mat-card>
<div [hidden]="!formStatus">
  <mat-card>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          formControlName="message"
          placeholder="Enter notification message here"
        />
        <mat-error>field required</mat-error>
      </mat-form-field>

      <br />
      <button
        mat-raised-button
        class="submit-btn"
        type="button"
        color="primary"
        (click)="addNotif(form.value)"
        [disabled]="!form.valid"
      >
        send
      </button>
    </form>
  </mat-card>
</div>
