<mat-card>
  <mat-action-list>
    <button mat-button color="primary" [routerLink]="['/students']">
      <mat-icon>arrow_back</mat-icon> back
    </button>
    <button mat-button color="warn" (click)="deleteItem(student)">
      <mat-icon>delete</mat-icon> delete
    </button>
  </mat-action-list>
  <h3>{{ ( student | async )?.name | uppercase }}</h3>
  <p>Age: {{ ( student | async )?.age }}</p>
  <p>Description: {{ ( student | async )?.description }}</p>
</mat-card>
<mat-card>
    <h2>Update student</h2>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="name" placeholder="name" />
        <mat-error>field required</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="number" formControlName="age" placeholder="age" />
        <mat-error>field required</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea
          matInput
          formControlName="description"
          placeholder="description"
        ></textarea>
        <mat-error>field required</mat-error>
      </mat-form-field>

      <br />
      <button
        mat-raised-button
        class="submit-btn"
        type="button"
        color="primary"
        (click)="updateStudent(form.value)"
        [disabled]="!form.valid"
      >
        send
      </button>
    </form>
  </mat-card>
