<mat-toolbar>
  <span>My Application</span>&nbsp;
  <button mat-button color="primary" *ngFor="let link of links" [routerLink]="['/', link]" routerLinkActive="mat-accent">
    {{ link }}
  </button>
</mat-toolbar>
