<mat-card>
  <h1>Products List</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Ref Column -->
    <!-- <ng-container matColumnDef="Ref">
    <th mat-header-cell *matHeaderCellDef> Product Ref. </th>
    <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
  </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element[1].name | uppercase }} </td>
    </ng-container>

    <!-- Supplier Column -->
    <!-- <ng-container matColumnDef="Supplier">
    <th mat-header-cell *matHeaderCellDef> Supplier </th>
    <td mat-cell *matCellDef="let element"> {{element[1].supplier.name}} </td>
  </ng-container> -->

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element[1].description | slice:0:19 | lowercase}} </td>
    </ng-container>

    <!-- Ingredients Column -->
    <ng-container matColumnDef="Ingredients">
      <th mat-header-cell *matHeaderCellDef> Ingredients </th>
      <td mat-cell *matCellDef="let element">{{element[1].ingredients.join(', ')}}</td>
    </ng-container>

    <!-- Age Column -->
    <!-- <ng-container matColumnDef="Age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element[1].age}} </td>
  </ng-container> -->

    <!-- Conservation Column -->
    <!-- <ng-container matColumnDef="Conservation">
    <th mat-header-cell *matHeaderCellDef> Conservation </th>
    <td mat-cell *matCellDef="let element"> {{element[1].conservation}} </td>
  </ng-container> -->

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element[1].price | number:'.4'}} €</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="deleteProduct(element[0])">delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
<mat-card>
  <p>If you want to add a product click below...</p>
  <button mat-button color="primary" (click)="toggleForm()">add product</button>
  <br>
  <form ngSubmit="sendForm(productForm.value)" [formGroup]="productForm" [hidden]="formDisplay" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput id="name" class="form-control" formControlName="name" placeholder="name" required>
      <mat-error>field required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput id="supplier" class="form-control" formControlName="supplier" placeholder="supplier" required>
      <mat-error>field required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput id="age" type="number" class="form-control" formControlName="age" placeholder="age" required>
      <mat-error>field required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <textarea matInput id="description" class="form-control" formControlName="description" placeholder="description"
        required></textarea>
        <mat-error>field required</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button class="submit-btn" type="button" color="primary" (click)="sendForm(productForm.value)"
      [disabled]="!productForm.valid">send</button>
  </form>
</mat-card>