<mat-card>
  <h2>Students list</h2>
  <button mat-button color="primary" (click)="showHideForm()">
    <mat-icon>add</mat-icon> student
  </button>
  <button mat-button color="primary" (click)="major30()">
    <mat-icon>chevron_right</mat-icon> 30
  </button>
  <button mat-button color="primary" (click)="showOnlyInitials()">
    initials
  </button>
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let student of students | async"
      [routerLink]="['/students', student?.id]"
    >
      NAME:&nbsp;{{ student?.name }}&nbsp;&nbsp;&nbsp;AGE:&nbsp;{{
        student?.age
      }}&nbsp;&nbsp;&nbsp;DESCRIPTION:&nbsp;{{ student?.description }}
    </a>
  </mat-nav-list>
</mat-card>
<div [hidden]="!formStatus">
  <mat-card>
    <h2>Student form</h2>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="name" placeholder="name" />
        <mat-error>field required</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="number" formControlName="age" placeholder="age" />
        <mat-error>field required</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea
          matInput
          formControlName="description"
          placeholder="description"
        ></textarea>
        <mat-error>field required</mat-error>
      </mat-form-field>

      <br />
      <button
        mat-raised-button
        class="submit-btn"
        type="button"
        color="primary"
        (click)="addStudent(form.value)"
        [disabled]="!form.valid"
      >
        send
      </button>
    </form>
  </mat-card>
</div>
