/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 2% 10% 2% 10%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-row:nth-child(odd) {
  background-color: #fafafa;
}

table {
  width: 100%;
}

mat-card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.example-full-width {
  width: 100%;
}
